<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.uio.mobileapps.mobilenettskjema.android"
 >

    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:enabled="true"
                 android:exported="true"
                 android:name=".deferredsubmission.queueing.QueueService" />
    </application>
</manifest>
